#inputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 33.33%; /* 设置宽度为页面宽度的1/3 */
}

#inputContainer input {
    flex: 1;
    margin-right: 10px;
}
#output {
    background: black;
    color: white;
    height: 66.67vh;
    overflow: auto;
    padding: 10px;
    white-space: pre-wrap;
    width: 100%;
    scrollbar-width: thick;
    scrollbar-color: lightgray black;
}

#output::-webkit-scrollbar {
    width: 12px;
}

#output::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 6px;
}

.inputGroup {
    display: block;
    margin-bottom: 10px;
}

.inputGroup button {
    margin-right: 10px;
    display: block;
}
.fixedDiv {
    max-height: 300px; /* Adjust this value based on your needs */
    overflow-y: auto;
}
